<div th:replace="fragments/header :: headerFragment (pageTitle='Gold Hunter - Поставщикам',description='Приглашаем к сотрудничеству поставщиков игровых валют на разных популярных ММО проектах. Если Вы уже развили своего персонажа до высокого уровня, и при этом игровая валюта достаётся Вам легче и в больших количествах, то Вы можете заработать на своем увлечении.',keywords='магазин, поставщикам, gold hunter')" xmlns:th="http://www.w3.org/1999/xhtml"></div>
<article>
    <div class="safe-container article-container">
        <div th:replace="fragments/sidebar"></div>
        <main>
            <h1>Поставщикам</h1>
            <div class="content-container info-container">
                <h3>Мы сотрудничает с поставщиками во всех MMO играх в сфере поставок игровых валют.</h3>
                <p>
                    Приглашаем к сотрудничеству поставщиков игровых валют на разных популярных ММО проектах. Если Вы уже развили своего персонажа
                    до высокого уровня, и при этом игровая валюта достаётся Вам легче и в больших количествах, то Вы можете заработать на своем увлечении.
                </p>
                <h3>Что нужно чтобы стать нашим поставщиком?</h3>
                <p>
                    Чтобы стать нашим поставщиком, Вам нужно добавить нашего <a href="https://t.me/Gold_HunterBot" target="_blank">телеграм бота</a> и указать игры, в которых Вы хотите продавать игровую
                    валюту.
                </p>
                <p>
                    Напишите нам в <a href="https://t.me/Gold_Hunter_Support" target="_blank">телеграм</a>, чтобы получить пароль от бота.
                </p>
                <h3>Какая система используется для выплат поставщикам?</h3>
                <p>
                    Все выплаты производятся через: <span>Qiwi</span>, <span>ЮMoney</span>, <span>Банковская карта</span>.
                </p>
                <h3>Наши гарантии?</h3>
                <p>
                    Со всеми гарантиями Вы можете ознакомиться в разделе "Гарантии" в шапке сайта.
                </p>
                <h3>Как мы работаем?</h3>
                <p>
                    Когда у нас появляется необходимость в скупке игровой валюты, мы запускаем рассылку с предложением в Телеграм бот.
                </p>
                <h3>Когда я получу свои деньги после поставки?</h3>
                <p>
                    Выплаты за выполненный заказ производятся от 10 минут до 24 часов. После подтверждения покупателем.
                </p>
            </div>
        </main>
    </div>
</article>
<div th:replace="fragments/footer"></div>