<div th:replace="fragments/header :: headerFragment (pageTitle='Gold Hunter - Контакты',description='',keywords='магазин, контакты, gold hunter')" xmlns:th="http://www.w3.org/1999/xhtml"></div>
<article>
    <div class="safe-container article-container">
        <div th:replace="fragments/sidebar"></div>
        <main>
            <h1>Контакты</h1>
            <div class="content-container info-container">
                <div class="contacts-header">
                    <img src="img/favicon/apple-touch-icon.png" alt="Gold Hunter" width="100px" height="100px">
                    <div>
                        <a href="mailto:info@goldhunter.fun" target="_blank">info@goldhunter.fun</a>
                        <a href="https://vk.com/gold__hunter" target="_blank">Группа VK</a>
                        <a href="https://t.me/Gold_Hunter_Support" target="_blank">Telegram</a>
                    </div>
                </div>
                <div class="contacts-body">
                    <span>ИП: Бойков Максим Дмитриевич</span>
                    <span>ИНН: 344107768050</span>
                    <span>ОГРНИП: 321344300085078</span>
                    <span>Правовые документы: <a href="/contract" target="_blank">Публичная оферта</a>, <a href="/privacy" target="_blank">Политика конфиденциальности</a></span>
                </div>
            </div>
        </main>
    </div>
</article>
<div th:replace="fragments/footer"></div>