<div th:replace="fragments/header :: headerFragment (pageTitle='Gold Hunter - Ошибка 404',description='',keywords='')" xmlns:th="http://www.w3.org/1999/xhtml"></div>
<article>
    <div class="safe-container article-container">
        <div class="error-container">
            <h1>Ошибка 404</h1>
            <p>Страница, на которую Вы попали, не существует. Вы можете попробовать следующее:</p>
            <span><a href="/">- Перейти к главной странице сайта</a></span>
            <span>- Проверить правильность введённого адреса</span>
            <span>- Вернуться туда, откуда пришли</span>
        </div>
    </div>
</article>
<div th:replace="fragments/footer"></div>