<div th:replace="fragments/header :: headerFragment (pageTitle='Gold Hunter - Часто задаваемые вопросы',description='Поможем найти ответы на все интересующие вас вопросы.',keywords='игровые услуги, faq, gold hunter')" xmlns:th="http://www.w3.org/1999/xhtml"></div>
<article>
    <div class="safe-container article-container">
        <div th:replace="fragments/sidebar"></div>
        <main>
            <h1>Часто задаваемые вопросы</h1>
            <div class="content-container faq-container">
                <div class="question">
                    <span>Вопрос</span>
                    <p>
                        Каким образом я получу игровую валюту?
                    </p>
                </div>
                <div class="answer">
                    <span>Ответ</span>
                    <p>
                        Чтобы получить свой заказ, Вам необходимо просто быть в игре на
                        персонаже, указанном при оформлении. Мы сообщим Вам, как только будем готовы передать заказ.
                    </p>
                </div>
            </div>
			
            <div class="content-container faq-container">
                <div class="question">
                    <span>Вопрос</span>
                    <p>
                        Через сколько после оплаты я получу свой заказ?
                    </p>
                </div>
                <div class="answer">
                    <span>Ответ</span>
                    <p>
                        Как правило, большинство заказов выполняются через 10 - 60 минут после оплаты,
                        в том случае, если указанный персонаж находится онлайн. Если золото не пришло
                        Вам в течение часа, не стоит паниковать, просто нам понадобилось чуть больше времени.
                        Максимальное время доставки составляет 48 часов (в зависимости от загруженности операторов и ситуации на сервере).
                    </p>
                </div>
            </div>
			
            <div class="content-container faq-container">
                <div class="question">
                    <span>Вопрос</span>
                    <p>
                        Мой аккаунт не заблокируют за покупку игровой валюты?
                    </p>
                </div>
                <div class="answer">
                    <span>Ответ</span>
                    <p>
                        Наша работа заключается в том, чтобы свести риски к нулю.
                        Мы постоянно улучшаем методы передачи валюты, что бы обезопасить наших
                        клиентов. Но так как правила запрещают покупку игровых ценностей,
                        всегда есть шанс быть наказанным. Приобретая игровые ценности,
                        Вы полностью несете ответственность за риски.
                    </p>
                </div>
            </div>
			
			<div class="content-container faq-container">
                <div class="question">
                    <span>Вопрос</span>
                    <p>
                        Каким способом Вы доставите заказ?
                    </p>
                </div>
                <div class="answer">
                    <span>Ответ</span>
                    <p>
                        Способ доставки напрямую связан с выбранной вами игрой.
                        Всего существует три способа передачи: обмен в игре,
                        аукцион и внутриигровая почта. Во время оформления заказа,
                        Вы можете выбрать наиболее подходящий для себя способ доставки.
                    </p>
                </div>
            </div>
			
			<div class="content-container faq-container">
                <div class="question">
                    <span>Вопрос</span>
                    <p>
                        Как сделать возврат?
                    </p>
                </div>
                <div class="answer">
                    <span>Ответ</span>
                    <p>
                        На любом этапе выполнения заказа Вы можете отказаться от наших услуг, и мы в кратчайшие сроки вернем Вам деньги.
                        В случае, если заказ не завершен, напишите нам на любые контакты, что желаете вернуть деньги.
                    </p>
                </div>
            </div>
        </main>
    </div>
</article>
<div th:replace="fragments/footer"></div>