<div th:replace="fragments/header :: headerFragment (pageTitle='Gold Hunter - Гарантии',description='Убедитесь в гарантиях нашего сервиса и Вы поймете, что лучше покупать у Gold Hunter.',keywords='игровые услуги, гарантии, gold hunter')" xmlns:th="http://www.w3.org/1999/xhtml"></div>
<article>
    <div class="safe-container article-container">
        <div th:replace="fragments/sidebar"></div>
        <main>
            <h1>Гарантии</h1>
            <div class="content-container info-container">
                <p class="preview-text">
                    Наш сайт довольно молодой и не можем похвастаться десятками тысяч отзывов
                    или опытом работы более 10 лет. Так что мы распишем по пунктам почему нам
                    можно доверять и по мере взросления сайта эти пункты будут становиться всё более весомыми.
                </p>
                <h3>Шесть причин доверять нам</h3>
                <p>
                    <span>1.</span> Gold Hunter был открыт 11 сентября 2021 года. Скромный возраст нашего сайта не означает отсутствие опыта в данной сфере.
                </p>
                <p>
                    <span>2.</span> Отзывы о нас Вы можете посмотреть в разделе "Отзывы" в шапке сайта, в <a href="https://vk.com/gold__hunter" target="_blank">группе в  VK</a> или поискать на просторах интернета.
                    Также призываем Вас оставить отзыв, если Вы уже пользовались нашими услугами, для нас это очень важно.
                </p>
                <p>
                    <span>3.</span> Прошли проверки на качество и подтвердили свои реальные данные в платёжных системах: <span>Qiwi</span>, <span>ЮMoney</span>.
                </p>
                <p>
                    <span>4.</span> Мы работает 24 часа в сутки. Возможно, Вы заметили, что у нас нет чата с консультантом, потому что большая часть работы автоматизирована.
                </p>
                <p>
                    <span>5.</span> При возникновении любых вопросов, Вы всегда можете связаться с нами через контакты, указанные в подвале сайта. Мы оперативно
                    ответим на все Ваши вопросы.
                </p>
                <p>
                    <span>6.</span> На любом этапе выполнения заказа Вы можете отказаться от наших услуг, и мы в кратчайшие сроки вернем Вам деньги.
                    В случае, если заказ не завершен, напишите нам на любые контакты, что желаете вернуть деньги.
                </p>
            </div>
        </main>
    </div>
</article>
<div th:replace="fragments/footer"></div>