<div th:replace="fragments/header :: headerFragment (pageTitle='Gold Hunter',description='Магазин, в котором есть все необходимое для того, чтобы ваша игра стала комфортной и результативной. Мы, как никто другой, знаем, чего хочет игрок и как ему это получить максимально безопасно и выгодно.',keywords='магазин, gold hunter, игровая валюта, игры, золото')" xmlns:th="http://www.w3.org/1999/xhtml"></div>
<article>
	<div class="safe-container">
        <div class="notification-container">
            <span><img th:src="@{~/img/exclamation-circle.svg}" alt="exclamation-circle">У нас нету окна чата, так как весь процесс автоматизирован и всегда есть валюта!</span>
        </div>
    </div>
    <div class="safe-container article-container">
        <div th:replace="fragments/sidebar"></div>
        <main>
            <h1>Выберите игру</h1>
            <div class="main-container">
                <a href="/games/aion" class="content-container main-container--item">
                    <img src="img/games/aion.png" alt="Aion RuOff">
                    <span>Aion RuOff</span>
                </a>
                <a href="/games/albion-online" class="content-container main-container--item">
                    <img src="img/games/albion-online.png" alt="Albion Online">
                    <span>Albion Online</span>
                </a>
                <a href="/games/archeage" class="content-container main-container--item">
                    <img src="img/games/archeage.png" alt="ArcheAge">
                    <span>ArcheAge</span>
                </a>
                <a href="/games/archeage-unchained" class="content-container main-container--item">
                    <img src="img/games/archeage-unchained.png" alt="ArcheAge Unchained">
                    <span>ArcheAge Unchained</span>
                </a>
                <a href="/games/astellia-online" class="content-container main-container--item">
                    <img src="img/games/astellia-online.png" alt="Astellia Online">
                    <span>Astellia Online</span>
                </a>
                <a href="/games/blade-and-soul" class="content-container main-container--item">
                    <img src="img/games/blade-and-soul.png" alt="Blade and Soul">
                    <span>Blade and Soul RuOff</span>
                </a>
                <a href="/games/escape-from-tarkov" class="content-container main-container--item">
                    <img src="img/games/escape-from-tarkov.png" alt="Escape from Tarkov">
                    <span>Escape from Tarkov</span>
                </a>
                <a href="/games/eve-echoes" class="content-container main-container--item">
                    <img src="img/games/eve-echoes.png" alt="EVE Echoes">
                    <span>EVE Echoes</span>
                </a>
                <a href="/games/eve-online" class="content-container main-container--item">
                    <img src="img/games/eve-online.png" alt="EVE Online">
                    <span>EVE Online</span>
                </a>
                <a href="/games/fallout-76" class="content-container main-container--item">
                    <img src="img/games/fallout-76.png" alt="Fallout 76">
                    <span>Fallout 76</span>
                </a>
                <a href="/games/final-fantasy" class="content-container main-container--item">
                    <img src="img/games/final-fantasy.png" alt="Final Fantasy XIV">
                    <span>Final Fantasy XIV</span>
                </a>
                <a href="/games/guild-wars-2" class="content-container main-container--item">
                    <img src="img/games/guild-wars-2.png" alt="Guild Wars 2">
                    <span>Guild Wars 2</span>
                </a>
                <a href="/games/karos-online" class="content-container main-container--item">
                    <img src="img/games/karos-online.png" alt="Karos Online">
                    <span>Karos Online</span>
                </a>
                <a href="/games/lineage-2" class="content-container main-container--item">
                    <img src="img/games/lineage-2.png" alt="Lineage 2 NA/EU">
                    <span>Lineage 2</span>
                </a>
                <a href="/games/lineage-2-classic" class="content-container main-container--item">
                    <img src="img/games/lineage-2-classic.png" alt="Lineage 2 Classic">
                    <span>Lineage 2 Classic</span>
                </a>
                <a href="/games/lineage-2-essence" class="content-container main-container--item">
                    <img src="img/games/lineage-2-essence.png" alt="Lineage 2 Essence">
                    <span>Lineage 2 Essence</span>
                </a>
                <a href="/games/lost-ark" class="content-container main-container--item">
                    <img src="img/games/lost-ark.png" alt="Lost Ark">
                    <span>Lost Ark</span>
                </a>
                <a href="/games/neverwinter" class="content-container main-container--item">
                    <img src="img/games/neverwinter.png" alt="Neverwinter">
                    <span>Neverwinter</span>
                </a>
                <a href="/games/poe" class="content-container main-container--item">
                    <img src="img/games/poe.png" alt="Path of Exile">
                    <span>Path of Exile</span>
                </a>
                <a href="/games/perfect-world" class="content-container main-container--item">
                    <img src="img/games/perfect-world.png" alt="Perfect World">
                    <span>Perfect World</span>
                </a>
                <a href="/games/ragnarok-online" class="content-container main-container--item">
                    <img src="img/games/ragnarok-online.png" alt="Ragnarok Online">
                    <span>Ragnarok Online</span>
                </a>
                <a href="/games/rocket-league" class="content-container main-container--item">
                    <img src="img/games/rocket-league.png" alt="Rocket League">
                    <span>Rocket League</span>
                </a>
                <a href="/games/royal-quest" class="content-container main-container--item">
                    <img src="img/games/royal-quest.png" alt="Royal Quest">
                    <span>Royal Quest</span>
                </a>
                <a href="/games/runescape" class="content-container main-container--item">
                    <img src="img/games/runescape.png" alt="RuneScape">
                    <span>RuneScape</span>
                </a>
                <a href="/games/stalcraft" class="content-container main-container--item">
                    <img src="img/games/stalcraft.png" alt="Stalcraft">
                    <span>Stalcraft</span>
                </a>
                <a href="/games/stalker-online" class="content-container main-container--item">
                    <img src="img/games/stalker-online.png" alt="Stalker Online">
                    <span>Stalker Online</span>
                </a>
                <a href="/games/teso" class="content-container main-container--item">
                    <img src="img/games/teso.png" alt="The Elder Scrolls Online">
                    <span>The Elder Scrolls Online</span>
                </a>
                <a href="/games/trove" class="content-container main-container--item">
                    <img src="img/games/trove.png" alt="Trove">
                    <span>Trove</span>
                </a>
                <a href="/games/warspear-online" class="content-container main-container--item">
                    <img src="img/games/warspear-online.png" alt="Warspear Online">
                    <span>Warspear Online</span>
                </a>
                <a href="/games/wow" class="content-container main-container--item">
                    <img src="img/games/wow.png" alt="World of Warcraft">
                    <span>World of Warcraft</span>
                </a>
                <a href="/games/wow-classic" class="content-container main-container--item">
                    <img src="img/games/wow-classic.png" alt="World of Warcraft Classic">
                    <span>World of Warcraft Classic</span>
                </a>
                <a href="/games/wow-classic-burning-crusade" class="content-container main-container--item">
                    <img src="img/games/wow-classic-burning-crusade.png" alt="WoW Classic Burning Crusade">
                    <span>WoW Classic Burning Crusade</span>
                </a>
                <a href="/games/allods-online" class="content-container main-container--item">
                    <img src="img/games/allods-online.png" alt="Аллоды Онлайн">
                    <span>Аллоды Онлайн</span>
                </a>
            </div>
        </main>
    </div>
</article>
<div th:replace="fragments/footer"></div>