html {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

* {
  padding: 0;
  margin: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  font-family: 'Oswald', serif;
  font-size: 14px;
  line-height: 1.4em;
  cursor: default;
  text-align: left;
  overflow-x: hidden;
}

h1, h3, h5 {
  font-weight: 500;
  line-height: 1.2;
  color: #222222;
  margin-bottom: 20px;
}

h1 {
  font-size: 24px;
}

h3, h5 {
  font-size: 18px;
}

span {
  color: #222222;
}

a {
  color: #222222;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
}

li {
  text-decoration: none;
  list-style: none;
}

p {
  font-family: RobotoCondensed, serif;
  color: #555555;
  margin: 0;
  padding: 0;
}

img {
  vertical-align: middle;
  border-style: none;
}

input, select {
  border: none;
  border-bottom: 2px solid #b3b3b3;
  background-color: transparent;
  color: #222222;
  outline: none;
  font-family: RobotoCondensed, serif;
  font-size: 14px;
  padding: 0 5px 3px 5px;
}

input:focus, input:hover, select:focus, select:hover {
  transition: 0.3s;
  border-bottom: 2px solid #006ecd;
}

input:invalid, select:invalid {
  border-bottom: 2px solid #d74316;
}

input:invalid:focus, input:invalid:hover, select:invalid:focus, select:invalid:hover {
  transition: 0.3s;
  border-bottom: 2px solid #006ecd;
}

select {
  cursor: pointer;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.safe-container {
  max-width: 1366px !important;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.content-container {
  background-color: #ffffff;
  border: 1px solid #b3b3b3;
  border-radius: 10px;
}

.article-container {
  display: flex;
}

.footer-container {
  padding: 10px 0 15px;
  margin-left: 41px;
  margin-right: 41px;
  border-top: 1px solid #b3b3b3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.orders-main {
  max-width: 100%;
  margin-left: 41px;
  display: flex;
  justify-content: center;
}

.orders-main h1 {
  margin-left: 0;
}

header {
  background-color: #ffffff;
}

article {
  background-image: linear-gradient(to top, #dfe9f3 0%, #fef9f5 95%);
  padding-top: 40px;
  padding-bottom: 40px;
}

aside {
  margin-left: 41px;
  max-width: 214px;
  width: 100%;
}

main {
  margin-left: 9px;
  margin-right: 41px;
  max-width: 1062px;
  width: 100%;
}

main h1 {
  margin-left: 16px;
}

footer {
  background-color: #ffffff;
  height: 234px;
}

.game-item {
  border-radius: 3px;
  margin-bottom: 10px;
}

.game-item a {
  display: flex;
  align-items: center;
  height: 30px;
  padding-left: 10px;
}

.game-item:last-child {
  margin-bottom: 0;
}

.game-item:last-child a {
  cursor: pointer;
  padding-left: 0;
  justify-content: center;
}

.game-item:hover {
  transition: 0.2s;
  border: 1px solid #006ecd;
}

.col-container {
  padding-top: 20px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
}

.footer-container--item .arrow-right {
  width: 9px;
  height: 10px;
}

.footer-container--item p {
  font-family: Oswald, serif;
  max-width: 290px;
  color: #555555;
}

.footer-container--item li a {
  display: block;
  padding-bottom: 15px;
  color: #555555;
}

.footer-container--item li a:hover {
  transition: 0.2s;
  color: #006ecd;
}

.footer-brand {
  padding-top: 0 !important;
}

.payments {
  display: flex;
}

.payments img {
  cursor: pointer;
  max-width: 50px;
  max-height: 30px;
  width: 50px;
  height: 30px;
  margin-bottom: 15px;
}

.payments-col--1, .payments-col--2 {
  display: flex;
  flex-direction: column;
}

.payments-col--1 img {
  margin-right: 20px;
}

.info-container {
  min-width: 202px;
  margin-left: 16px;
  padding: 25px 17.3% 5px 25px;
}

.info-container h3 {
  font-size: 16px;
}

.info-container p {
  margin-bottom: 20px;
}

.info-container p a {
  color: #006ecd;
}

.info-container p span {
  color: #222222;
  font-weight: bold;
}

.preview-text {
  font-size: 16px;
  margin-bottom: 25px;
}

.buttons {
  padding: 0;
  height: 50px;
  border: 1px solid #b3b3b3 !important;
  background-color: #006ecd;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.buttons:hover {
  transition: 0.3s;
  background-color: #007ce7;
}

.btn-deactive {
  background-color: #879aab;
  cursor: default;
}

.btn-deactive:hover {
  background-color: #879aab;
}

.order_status-container {
  padding: 35px 9%;
  margin-bottom: 15px;
}

.order_status-container:last-child {
  margin-bottom: 0;
}

.contract-container {
  padding: 25px;
}

.contract-container p {
  margin-bottom: 15px;
}

.contract-container p span {
  font-family: Oswald, serif;
}

.contract-container .contract-heading {
  display: block;
  font-size: 16px;
  margin-bottom: 15px;
}

.contacts-header {
  display: flex;
  margin-bottom: 15px;
}

.contacts-header div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contacts-header a {
  font-family: RobotoCondensed, serif;
  color: #555555;
  margin-left: 20px;
  margin-bottom: 7px;
  display: block;
}

.contacts-header a:hover {
  color: #006ecd;
  transition: 0.3s;
}

.contacts-body {
  display: flex;
  flex-direction: column;
  margin-bottom: 13px;
}

.contacts-body span {
  margin-bottom: 7px;
}

.contacts-body a {
  font-family: RobotoCondensed, serif;
  color: #555555;
}

.contacts-body a:hover {
  color: #006ecd;
  transition: 0.3s;
}

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 41px;
  margin-right: 41px;
  height: 36vh;
}

.error-container p {
  color: #222222;
}

.error-container span {
  color: #555555;
  margin-top: 15px;
}

.error-container a {
  color: #006ecd;
}

/*# sourceMappingURL=general.css.map */
