<p id="question-p-1" th:fragment="forMail">
    Заказ будет передан через почту в игре.
</p>

<p id="question-p-1" th:fragment="forAuction">
    Заказ будет передан через аукцион в игре.
    Вы выставляете определённый предмет по цене заказа, мы его покупаем.
</p>

<p id="question-p-1" th:fragment="albion-online">
    Заказ будет передан через обмен в игре.
</p>

<p id="question-p-1" th:fragment="escape-from-tarkov">
    Заказ будет передан через барахолку в игре.
    Вы выставляете определённый предмет по цене заказа, мы его покупаем.
</p>

<p id="question-p-1" th:fragment="eve-echoes">
    Заказ будет передан через контракт в игре.
    Для того чтобы принять контракт, вам нужен Омега-клон.
</p>

<p id="question-p-1" th:fragment="eve-online">
    Заказ будет передан через контракт в игре.
</p>

<p id="question-p-1" th:fragment="fallout-76">
    Заказ будет передан через обмен в игре.
</p>

<p id="question-p-1" th:fragment="final-fantasy">
    Заказ будет передан через обмен в игре.
</p>

<p id="question-p-1" th:fragment="karos-online">
    Заказ будет передан через обмен в игре.
</p>

<p id="question-p-1" th:fragment="perfect-world">
    Заказ будет передан через кота торговца.
</p>

<p id="question-p-1" th:fragment="poe">
    Заказ будет передан через обмен в игре.
</p>

<p id="question-p-1" th:fragment="ragnarok-online">
    Заказ будет передан через обмен в игре.
</p>

<p id="question-p-1" th:fragment="revelation-online">
    Заказ будет передан через обмен в игре.
</p>

<p id="question-p-1" th:fragment="rocket-league">
    Заказ будет передан через обмен в игре.</br></br>

    Убедитесь, что у вас открыт обмен в игре.</br></br>

    - Если игра была куплена в Steam:</br>
    1) Убедитесь, что ваш уровень выше 30-ого. (Общий уровень, не сезонный, смотреть через статистику).</br>
    2) Убедитесь, что к аккаунту Epic Games, который привязан к вашему Rocket League, подключена двухфакторная аутентификация.</br></br>

    - Если игра была забрана в Epic Games Store:</br>
    1) Все те же выше перечисленные условия, что и для Steam, но добавляется необходимость задонатить в игру на сумму 500 Кредитов, либо 500 Кибержетонов, либо купить "Стартовый набор".
</p>

<p id="question-p-1" th:fragment="runescape">
    Заказ будет передан через обмен в игре.
</p>

<p id="question-p-1" th:fragment="stalker-online">
    Заказ будет передан через обмен в игре.
</p>

<p id="question-p-1" th:fragment="tera-online">
    Заказ будет передан через обмен в игре.
</p>

<p id="question-p-1" th:fragment="trove">
    Заказ будет передан через маркет (U).
</p>

<p id="question-p-1" th:fragment="warspear-online">
    Заказ будет передан через обмен в игре.
</p>