<p th:fragment="forMail">
    Заказ будет передан через почту в игре. Когда наш оператор будет готов, он отправит заказ через
    игровую почту. Возможно вам придёт приглашение в друзья от оператора, примите его.
</p>

<p th:fragment="aion">
    Заказ будет передан через аукцион в игре.
    Вам необходимо выставить "Тренировочный меч" на аукцион по цене заказа и ждать, когда наш оператор его купит.
</p>

<p th:fragment="albion-online">
    Заказ будет передан через обмен в игре. В момент, когда мы будем готовы передать заказ, Вам
    необходимо быть в указанном Вами городе в банке в углу на W (по компасу) и ждать, когда наш оператор передаст Вам заказ.
</p>

<p th:fragment="blade-and-soul">
    Заказ будет передан через аукцион в игре.
    Вам необходимо выставить "Сущность бессмертного гандзи" на аукцион по цене заказа и ждать, когда наш оператор его купит.
</p>

<p th:fragment="escape-from-tarkov">
    Заказ будет передан через барахолку в игре.
    Вам необходимо выставить "Банка консервированной сайры" на барахолку по цене заказа и ждать, когда наш оператор его купит.
</p>

<p th:fragment="eve-echoes">
    Заказ будет передан через контракт в игре.
    Наш оператор отправит заказ через частный контракт, Вам нужно будет только принять его.
</p>

<p th:fragment="eve-online">
    Заказ будет передан через контракт в игре.
    Вам необходимо выставить копеечные Abyssal модули по общедоступному контракту и назначить цену как в заказе.
    Наш оператор найдёт Ваш контракт и выкупит его.
</p>

<p th:fragment="fallout-76">
    Заказ будет передан через обмен.
    Вам необходимо быть в игре. Наш оператор отправит приглашение в друзья и группу,
    телепортируется к Вам и пригласит к обмену. Далее вам нужно выставить любой предмет на продажу за цену заказа.
</p>

<p th:fragment="final-fantasy">
    Заказ будет передан через обмен в игре.
    В момент, когда мы будем готовы передать заказ, Вам необходимо быть в Таналане
    у эфирита и ждать, когда наш оператор передаст Вам заказ.
</p>

<p th:fragment="karos-online">
    Заказ будет передан через обмен в игре.
    В момент, когда мы будем готовы передать заказ, Вам необходимо быть в городе Бернео
    возле телепорта Кристина и ждать, когда наш оператор передаст Вам заказ.
</p>

<p th:fragment="neverwinter">
    Заказ будет передан через аукцион в игре.
    Вам необходимо выставить "Целебный эликсир Ледяной кузни" на аукцион по цене заказа и ждать, когда наш оператор его купит.
</p>

<p th:fragment="perfect-world">
    Заказ будет передан через кота торговца.
    Вам необходимо установить кота в Городе оборотней у Старейшины Ущелья феникса, с названием
    Вашего ника, который Вы указали при покупке. Далее Вам нужно выставить любой товар на покупку по цене заказа.
</p>

<p th:fragment="poe">
    Заказ будет передан через обмен в игре.
    В момент, когда мы будем готовы передать заказ, Вам необходимо перейти в убежище и
    дождаться, когда наш оператор пригласит вас в группу. Далее наш оператор переместиться к вам в убежище и передаст заказ.
</p>

<p th:fragment="ragnarok-online">
    Заказ будет передан через обмен в игре.
    В момент, когда мы будем готовы передать заказ, Вам необходимо быть в Пронтере
    возле продавца зоотоваров и ждать, когда наш оператор передаст Вам заказ.
</p>

<p th:fragment="revelation-online">
    Заказ будет передан через обмен в игре.
    В момент, когда мы будем готовы передать заказ, Вам необходимо быть в Астерионе
    возле аукциона и ждать, когда наш оператор передаст Вам заказ.
</p>

<p th:fragment="rocket-league">
    Заказ будет передан через обмен в игре.
    В момент, когда мы будем готовы передать заказ, Вам необходимо быть в игре
    и ждать, когда наш оператор добавит Вас в друзья и лобби и предложит обмен.
    Вам нужно будет положить любой хлам, чтобы обмен прошёл.
</p>

<p th:fragment="runescape">
    Заказ будет передан через обмен в игре.
    В момент, когда мы будем готовы передать заказ, Вам необходимо быть в центре
    города Varrok и ждать, когда наш оператор передаст Вам заказ.
</p>

<p th:fragment="stalker-online">
    Заказ будет передан через обмен в игре.
    В момент, когда мы будем готовы передать заказ, Вам необходимо быть в деревне Гурман
    рядом с медицинской палаткой и ждать, когда наш оператор передаст Вам заказ.
</p>

<p th:fragment="tera-online">
    Заказ будет передан через обмен в игре. В момент, когда мы будем готовы передать заказ, Вам
    необходимо быть в Велике у Платформы Пегаса и ждать, когда наш оператор передаст Вам заказ.
</p>

<p th:fragment="trove">
    Заказ будет передан через маркет (U).
    Вам необходимо выставить "Ship: SS Dinghy" на маркет по цене заказа и ждать, когда наш оператор его купит.
</p>

<p th:fragment="warspear-online">
    Заказ будет передан через обмен в игре.
    В момент, когда мы будем готовы передать заказ, Вам необходимо быть в Ирсельнорте в
    Броневом Утесе возле порта и ждать, когда наш оператор передаст Вам заказ.
</p>