<footer>
    <div class="safe-container">
        <div class="footer-container">
            <div class="col-container">
                <div class="footer-container--item">
                    <h5>Меню</h5>
                    <ul>
                        <li><a href="/"><img th:src="@{~/img/arrow-right.svg}" class="arrow-right" alt="arrow-right"> Главная</a></li>
                        <li><a href="/reviews"><img th:src="@{~/img/arrow-right.svg}" class="arrow-right" alt="arrow-right"> Отзывы</a></li>
                        <li><a href="/guarantee"><img th:src="@{~/img/arrow-right.svg}" class="arrow-right" alt="arrow-right"> Гарантии</a></li>
                        <li><a href="/contractor"><img th:src="@{~/img/arrow-right.svg}" class="arrow-right" alt="arrow-right"> Поставщикам</a></li>
                        <li><a href="/faq"><img th:src="@{~/img/arrow-right.svg}" class="arrow-right" alt="arrow-right"> Faq</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-container">
                <div class="footer-container--item">
                    <h5>Контакты</h5>
                    <ul>
                        <li><a href="https://vk.com/gold__hunter" target="_blank"><img th:src="@{~/img/arrow-right.svg}" class="arrow-right" alt="arrow-right"> Группа VK</a></li>
                        <li><a href="https://t.me/Gold_Hunter_Support" target="_blank"><img th:src="@{~/img/arrow-right.svg}" class="arrow-right" alt="arrow-right"> Telegram</a></li>
                        <li><a href="mailto:info@goldhunter.fun" target="_blank"><img th:src="@{~/img/arrow-right.svg}" class="arrow-right" alt="arrow-right"> info@goldhunter.fun</a></li>
                        <li><a href="/contacts"><img th:src="@{~/img/arrow-right.svg}" class="arrow-right" alt="arrow-right"> Контакты</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-container">
                <div class="footer-container--item">
                    <a class="navbar-brand footer-brand" href="/" title="Gold Hunter"><span>GH</span>GOLD HUNTER</a>
                    <p>
                        Сервис игровых услуг, в котором есть все необходимое для того,
                        чтобы ваша игра стала комфортной и результативной.
                        Мы, как никто другой, знаем, чего хочет игрок и как
                        ему это получить максимально безопасно и выгодно.
                    </p>
                </div>
            </div>
            <div class="col-container">
                <div class="footer-container--item">
                    <h5>Способы оплаты</h5>
                    <div class="payments">
                        <div class="payments-col--1">
                            <img th:src="@{~/img/payments/qiwi.png}" alt="Qiwi" title="Qiwi">
                            <img th:src="@{~/img/payments/webmoney-white.png}" alt="WebMoney" title="WebMoney">
                            <img th:src="@{~/img/payments/mastercard.png}" alt="MasterCard" title="MasterCard">
                        </div>
                        <div class="payments-col--2">
                            <img th:src="@{~/img/payments/yoomoney.png}" alt="ЮMoney" title="ЮMoney">
                            <img th:src="@{~/img/payments/visa.png}" alt="Visa" title="Visa">
                            <img th:src="@{~/img/payments/mir.png}" alt="МИР" title="МИР">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script th:src="@{~/libs/jquery/jquery-3.6.0.min.js}"></script>
<script th:src="@{~/js/script.js}"></script>
</body>
</html>