<aside>
    <ul class="game-list">
        <li class="content-container game-item"><a href="/games/aion">Aion RuOff</a></li>
        <li class="content-container game-item"><a href="/games/albion-online">Albion Online</a></li>
        <li class="content-container game-item"><a href="/games/archeage">ArcheAge</a></li>
        <li class="content-container game-item"><a href="/games/archeage-unchained">ArcheAge Unchained</a></li>
        <li class="content-container game-item"><a href="/games/astellia-online">Astellia Online</a></li>
        <li class="content-container game-item"><a href="/games/blade-and-soul">Blade and Soul RuOff</a></li>
        <li class="content-container game-item"><a href="/games/escape-from-tarkov">Escape from Tarkov</a></li>
        <li class="content-container game-item"><a href="/games/eve-echoes">EVE Echoes</a></li>
        <li class="content-container game-item"><a href="/games/eve-online">EVE Online</a></li>
        <li class="content-container game-item"><a href="/games/fallout-76">Fallout 76</a></li>
        <li class="content-container game-item"><a href="/games/final-fantasy">Final Fantasy XIV</a></li>
        <li class="content-container game-item"><a href="/games/guild-wars-2">Guild Wars 2</a></li>
        <li class="content-container game-item"><a href="/games/karos-online">Karos Online</a></li>
        <li class="content-container game-item"><a href="/games/lineage-2">Lineage 2</a></li>
        <li class="content-container game-item"><a href="/games/lineage-2-classic">Lineage 2 Classic</a></li>
        <li class="content-container game-item"><a href="/games/lineage-2-essence">Lineage 2 Essence</a></li>
        <li class="content-container game-item"><a href="/games/lost-ark">Lost Ark</a></li>
        <li class="content-container game-item"><a href="/games/neverwinter">Neverwinter</a></li>
        <li class="content-container game-item"><a href="/games/poe">Path of Exile</a></li>
        <li class="content-container game-item"><a href="/games/perfect-world">Perfect World</a></li>
        <li class="content-container game-item"><a href="/games/ragnarok-online">Ragnarok Online</a></li>
        <li class="content-container game-item"><a href="/games/rocket-league">Rocket League</a></li>
        <li class="content-container game-item"><a href="/games/royal-quest">Royal Quest</a></li>
        <li class="content-container game-item"><a href="/games/runescape">RuneScape</a></li>
        <li class="content-container game-item"><a href="/games/stalcraft">Stalcraft</a></li>
        <li class="content-container game-item"><a href="/games/stalker-online">Stalker Online</a></li>
        <li class="content-container game-item"><a href="/games/teso">The Elder Scrolls Online</a></li>
        <li class="content-container game-item"><a href="/games/trove">Trove</a></li>
        <li class="content-container game-item"><a href="/games/warspear-online">Warspear Online</a></li>
        <li class="content-container game-item"><a href="/games/wow">World of Warcraft</a></li>
        <li class="content-container game-item"><a href="/games/wow-classic">World of Warcraft Classic</a></li>
        <li class="content-container game-item"><a href="/games/wow-classic-burning-crusade">WoW Classic Burning Crusade</a></li>
        <li class="content-container game-item"><a href="/games/allods-online">Аллоды Онлайн</a></li>
        <li class="content-container game-item" id="game-list-btn"><a>Развернуть</a></li>
    </ul>
</aside>