@media (max-width: 1024px) {
  .main-container--item {
    max-width: 155px;
  }
  .main-container--item img {
    width: 162px;
    height: 113px;
  }
}

@media (max-width: 1005px) {
  .main-container--item {
    max-width: 193px;
  }
  .main-container--item img {
    width: 200px;
    height: 113px;
  }
}

@media (max-width: 812px) {
  .product-container {
    min-width: 0;
  }
  .product-container .product-row {
    flex-wrap: wrap;
  }
  .product-container .product-row {
    margin-bottom: 0;
  }
  .product-container .input-block {
    max-width: 100%;
    margin-bottom: 25px;
  }
}

@media (max-width: 767px) {
  aside {
    margin-left: 20px;
  }
  main {
    margin-right: 20px;
  }
  .notification-container {
    margin-left: 20px;
    margin-right: 20px;
  }
  .orders-main {
    margin-left: 20px;
  }
  .footer-container {
    margin-left: 20px;
    margin-right: 20px;
  }
  .error-container {
    margin-left: 20px;
    margin-right: 20px;
  }
  .product-table {
    display: block;
    width: 100%;
  }
  .product-table tr {
    border-bottom: 0;
    border-right: 1px solid #b3b3b3;
  }
  .product-table thead,
  .product-table tbody,
  .product-table thead th {
    display: block;
  }
  .product-table thead {
    float: left;
  }
  .product-table tbody {
    margin: 0;
    position: relative;
    overflow-x: auto;
  }
  .product-table td, .product-table th {
    overflow-x: hidden;
    width: 105px;
    font-size: 13px;
    text-overflow: ellipsis;
  }
  .product-table thead th {
    text-align: center;
  }
  .product-table tbody tr {
    display: table-cell;
  }
  .product-table td {
    display: block;
    text-align: center;
  }
  .order_info-item {
    flex-basis: 50%;
  }
  .order_info-btn {
    width: 185px !important;
  }
}

@media (max-width: 610px) {
  .pagination-desktop {
    display: none !important;
  }
  .pagination-mobile {
    display: block !important;
  }
}

@media (max-width: 580px) {
  .reviews-header {
    margin-bottom: 8px;
  }
  .reviews-name {
    display: block;
    margin-bottom: 7px;
  }
  .order_info-item {
    flex-basis: 100%;
  }
  .order_info-second {
    justify-content: center;
  }
  .order_info-second .order_info-btn {
    width: 200px !important;
  }
  .order_status-row:last-child {
    flex-direction: column-reverse;
    align-items: center;
  }
  .order_status-row:last-child .order_status-btn {
    margin-left: 0;
  }
  .order_status-row:last-child .order_status-btn:last-child {
    margin-bottom: 35px;
  }
}

@media (max-width: 487px) {
  aside {
    display: none;
  }
  main {
    margin-left: 4px;
  }
  .reviews-container {
    margin-left: 1px;
  }
  .order_status-reviews-row:first-child {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .order_status-reviews-row:first-child .rating-area {
    margin-left: 0;
    margin-bottom: 25px;
  }
  #name {
    max-width: 100% !important;
  }
}

@media (max-width: 430px) {
  .reviews-container {
    margin-left: 16px;
  }
}

@media (max-width: 410px) {
  .order_status-container-1 {
    flex-direction: column;
  }
  .order_status-container-1 .order_status-line {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 15px 0;
  }
  .order_status-container-1 .line-special {
    margin-top: 35px;
  }
}

/*# sourceMappingURL=media.css.map */
