//авто центрирование
@mixin pos_center {
  margin: {
    left: auto;
    right: auto;
  }
}

@mixin hover_for_btn {
  &:hover {
    transition: 0.2s;
    background-color: lighten($blueC, 7%);
  }
}